
<table class="post codes">
  <thead>
    <tr>
      <th>post_code</th>
      <th>total_places</th>
      <th>total_chairs</th>
      <th>chairs_pct</th>
      <th>place_with_max_chairs/th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
